// @media all and (min-width: 1024px) { 

  .main {
    background-color: #000d58;
    color: #ffffff;
  }

  .title-top img {
    position: relative;
    background-position:top center;
    background-size:contain;
    width:100%;
    animation: anime1 4s ease;
  }
    
  @keyframes anime1 {
    0% {
        opacity: 0; /* 透明度指定 */
        top: 100px; /* 位置指定 */
    }
    100% {
        opacity: 1; /* 透明度指定 */
        top: 0; /* 位置指定 */
    }
  }

  .title-service1 {
    position: absolute;
    text-shadow: 5px 4px 3px #111010;
    color: #fff200;
    left: 40px;
    top: 30%;
    font-size: 8vmin;
  }

  .title-service2 {
    position: absolute;
    text-shadow: 5px 4px 3px #111010;
    left: 40px;
    top: 45%;
    font-size: 6vmin;
  }

  .title-service3 {
    position: absolute;
    text-shadow: 5px 4px 3px #111010;
    left: 40px;
    top: 60%;
    font-size: 8vmin;
  }

  .sign {
    position: absolute;
    top: 75%;
    right: 300px;
    font-size: 5vmin;
    color: #111010;
    width: 120px;
    background: #ffffff;
    text-align: center;
    border-radius: 25% 1%;

  }

  .session-btn-text {
    color: #00a2ff;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .sign-in {
    position: absolute;
    top: 75%;
    right: 80px;
    text-align: center;
    font-size: 5vmin;
    color: #111010;
    width: 120px;
    background: #ffffff;
    text-align: center;
    border-radius: 25% 1%;
  }

  .login-png {
    width: 60%;
  }
  /* 検索機能 */

  // .category-form {
  //   display: flex;
  //   justify-content: center;
  // }


  // .c-name {
  //   color: #ffffff;
  //   font-size: 30px;
  // }

  // .c-color {
  //   color: #000d58;
  // }

  /* 商品一覧 */

  .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
  }

  .title {
    font-size: 10vh;
    line-height: 1.4;
    font-weight: bold;
  }

  .recruitment-contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    padding: 30px;
  }

  .r-content {
    margin: 10px;
    width: auto;
    height: 270px;
  }

  .r-img-content {
    background-color: #ffffff;
  }

  .recruitment-img {
    width: 200px;
    height: 200px;
  }

  .r-title-box:hover {
    height: 70px;
    width: 200px;
    background-color: #dedede;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }

  .r-title-box {
    height: 70px;
    width: 200px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  .r-title:hover {
    text-decoration: none;
    color: #838383;
  }

  .r-title {
    overflow:hidden;
    text-overflow: ellipsis;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .r-user:hover {
    text-decoration: none;
    color: #838383;
  }

  .r-user {
    overflow:hidden;
    text-overflow: ellipsis;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }


  // 商品一覧

  /* 投稿アイコン */

  .purchase-btn {
    width: 120px;
    background: #ffffff;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  }

  .purchase-btn-text {
    color: #00a2ff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .purchase-btn-icon {
    width: 60%;
  }
// }

// @media all and (max-width: 480px) { }