.main {
  background-color: #000d58;
  color: #ffffff;
}

.title-top img {
  position: relative;
  background-position:top center;
  background-size:contain;
  width:100%;
}

.title-service1 {
  position: absolute;
  text-shadow: 5px 4px 3px #111010;
  color: #fff200;
  left: 40px;
  top: 30%;
  font-size: 8vmin;
}

.title-service2 {
  position: absolute;
  text-shadow: 5px 4px 3px #111010;
  left: 40px;
  top: 45%;
  font-size: 6vmin;
}

.title-service3 {
  position: absolute;
  text-shadow: 5px 4px 3px #111010;
  left: 40px;
  top: 60%;
  font-size: 8vmin;
}

.sign {
  position: absolute;
  top: 75%;
  right: 300px;
  font-size: 5vmin;
  color: #111010;
  width: 120px;
  background: #ffffff;
  text-align: center;
  border-radius: 30% 1%;

}

.session-btn-text {
  color: #00a2ff;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
}

.sign-in {
  position: absolute;
  top: 75%;
  right: 80px;
  text-align: center;
  font-size: 5vmin;
  color: #111010;
  width: 120px;
  background: #ffffff;
  text-align: center;
  border-radius: 30% 1%;
}

/* 商品一覧 */

.recruitment-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.recruitment-contents>.title {
  font-size: 10vh;
  line-height: 1.4;
  font-weight: bold;
}

.recruitment-lists {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.recruitment-list {
  display: flex;
  padding: 1vw;
}

.recruitment-img-content {
  position: relative;
}

.recruitment-img {
  width: 50vh;
  height: 50vh;
}

.recruitment-info {
  position: relative;
  width: 50vw;
  background-color: #FFF;
  color: black;
  padding: 1vw;
  border-radius: 0px 40px 40px 0px; 
}

.recruitment-name {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 7vh;
  color: #000d58;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-category {
  position: absolute;
  left: 5px;
  top: 80px;
}

.r-content {
  position: absolute;
  left: 5px;
  top: 110px;
  font-size: 5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.recruitment-user-name {
  position: absolute;
  left: 5px;
  top: 70%;
  font-size: 8vh;
  color: #000d58;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recruitment-price {
  position: absolute;
  left: 60%;
  top: 70%;
  color: #ff0000;
  font-size: 8vh;
  display: flex;
  justify-content: space-between;
}

.new-content {
  color: #ffffff;
  font-size: 100px;
}

/* 投稿アイコン */

.purchase-btn {
  width: 120px;
  background: #ffffff;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #00a2ff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}