.recruitment-sell-contents {
  background-color: #192437;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.recruitments-sell-title {
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.recruitment-sell-main {
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
  color: #ffffff;
}

.click-upload>p {
  margin-bottom: 15px;
}

.weight-bold-text {
  color: #ffffff;
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.append__category{
  position: relative;
  padding: 2vh 0;
}

.fform_label {
  left: 80%;
  flex-direction: column;
}

.select-box {
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  display: block;
}

.serect_field {
  left: 50%;
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  display: block;
}

.new-items {
  padding: 2vh 0;
}

.recruitment-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.recruitment-explain {
  margin-top: 2vh;
}

.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 20px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
  color: #192437;
}

.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #00a2ff;
  border: 1px solid #00a2ff;
  box-shadow: 0px 5px 0px 0px #3a64ff;
  border-radius: 7px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

