.recruitment-show {
  border-top: 1px solid #6e6e6e;
  background-color: #192437;
  color: #ffffff;
}

.recruitment-user {
  display: flex;
  width: 100%;
  position: relative;
}

.recruitment-userーprofile {
  font-size: 40px;
}

.user-profile {
  padding-left: 20px;
  font-size: 40px;
}

.recruitment-user-nickname {
  color: #ffffff;
}

.status {
  position: absolute;
  right: 20px;
  background-color: chartreuse;
  font-size: 40px;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: auto;
  margin: 8px;
}

.recruitment-shows {
  position: relative;
}

.recruitment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  width: 80%;
}