.top-page-header {
  background-color: #192437;
  width: 100vw;
  height: 20vh;
  display: flex;
  position: relative;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.lists-left {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.lists-middle {
  position: relative;
  display: flex;
}

.lists-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.logout {
  color: #FAFAFA;
  position: absolute;
  top: 3vh;
  left: 3vw;
}

.app-img {
  height: 17vh;
}

.top-app {
  color: #FAFAFA;
  font-size: 12vmin;
}

.path {
color: #FAFAFA;
font-size: 4vmin;
}

.user-name-icon {
  display: flex;
}

.user-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.light-name {
  font-size: 5vmin;
  color: #FAFAFA;
}