<div class="side-bar-header">
  <div class="header-category">
  <h4>カテゴリー一覧</h4>
    <div class="categorys">
    アクション・FPS・TPS
    格闘・スポーツ・レース
    パズル・カード・サバイバル
    MOBA・シューティング
    クリエイター(小説・イラスト・動画)
    コーチ育成
    その他
    </div>
  </div>
</div>