// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-contents {
  background-color: #192437;
  color: #ffffff;
}

.transaction-main {
  width: 70%;
  margin: auto;
}

.transaction-title-text-box {
  text-align: center;
  padding-top: 50px;
}

.transaction-title-text {
  font-size: 7vmin;
}

.buy-item-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contents-image {
  display: flex;
}

.content-image {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
}

.item-payment-price {
  font-size: 3vmax;
}

.form-group {
  text-align: start;
}

.form-text-wrap {
  margin-top: 20px;
}

.form-text {
  font-size: 3vmin;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  display: flex;
  align-items: flex-end;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}





// 購入ボタン

.sell-contents {
  margin-top: 20px;
  width: 200px;
  margin: auto;
}

