html {
  background-color: #192439;
}

.session-main {
  background-color: #000d58;
  color: #ffffff;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-blue-btn {
  width: 100%;
  background: #00a2ff;
  border: 1px solid #00a2ff;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: #00a2ff;
}
